<!--The content below is only a placeholder and can be replaced.-->
<div [style.background-color]="isChangeColor==true ? '#ffffff': '#95afc0'">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="container">
    <div class="header">
      <input tabindex="1" [(ngModel)]="inputString" #myInput type="text" />
      <button
        tabindex="2"
        (click)="clickBtnAddItemTodoList()"
        class="button-add-item"
      >
        Add
      </button>
    </div>
    <div class="content">
      <div *ngFor="let item of listTodo; let i = index" class="content-item">
        <div (click)="clickBtnDone(i)" class="btn-done">{{i+1}}</div>
        <div
          [style.text-decoration]="isCheck==i ? 'line-through': 'none'"
          class="content-item-text"
        >
          {{item}}
        </div>
        <div (click)="clickBtnDeleteRow(i)" class="delete-row-item">X</div>
      </div>
    </div>
    <div
      class="change-bg-color"
      [style.background-color]="isChangeColor==true ? '#ffffff': '#95afc0'"
    >
      <button (click)="clickBtnChange()">Đổi giao diện</button>
    </div>
  </div>
</div>
